<html>
<head>
	{% load staticfiles %}
	<title>My profile</title>
	<link rel="shortcut icon" href="{% static 'ico/favicon.png' %}">
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
</head>
<body>

	{% csrf_token %}

	{% if user.username != '' %}	

		{% for playlist in user.playlist_set.all %}
			<a href="{% url 'youtubetomp3:playlists' %}?playlist={{ playlist.name }}" name="playlist" method="GET">{{ playlist.name }}</a>
		{% endfor %}

		<!-- Button trigger modal -->
	  	<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Create playlist</a>

	  	<!-- Modal -->
		  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		      <div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		          <h4 class="modal-title">Modal title</h4>
		        </div>
		        <form role="form" method="post" action="{% url 'youtubetomp3:new_playlist' %}" enctype="multipart/form-data">
			        <div class="modal-body">
					    <div class="input-group">
					      <input type="text" placeholder="Enter new name here" class="form-control" name="playlist" id="playlist" autofocus>
					    </div><!-- /input-group -->
			        </div>

			        <div class="modal-footer">
			          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			          <button type="submit" class="btn btn-primary">Create</button>
			        </div>
	 			</form>
		      </div><!-- /.modal-content -->
		    </div><!-- /.modal-dialog -->
		  </div><!-- /.modal -->

	{% else %}
		Please login or sign up
	{% endif %}

	<script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>