<!-- Includes the necessary CSS and Javascript libraries for full customization -->
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/audio.css' %}"/>

<tr id="{{ media.id }}">

    <audio id="song{{ media.id }}" ontimeupdate="updateTime()">
        <source src="{{ media.mediafile }}" type="audio/mp3"/>
        Your browser does not support the audio tag.
    </audio>
    <td>
        <div class="btn btn-danger" type="button" id="songPlayPause" onclick="playPause('{{ media.id }}')">
            <img id="play-pause" src="{% static 'img/play.png' %}">
            <input type="hidden" id="songPlayImage" value="{% static 'img/play.png' %}">
            <input type="hidden" id="songPauseImage" value="{% static 'img/pause.png' %}">
        </div>
    </td>

    <td>
        <div id="songTime">0:00 / 0:00</div>
    </td>
    <!-- Song Slider tracks progress on song time change, if you click it sets the distance into the song
    based on the percentage of where was clicked -->
    <td>
        <div id="songSlider" onclick="setSongPosition(this,event)"><div id="trackProgress"></div></div>
    </td>
    <!-- Volume Meter sets the new volume on click.  The Volume Status div is embedded inside so it can grow
    within bounds to simulate percentage feel -->
    <td>
        <div id="volumeMeter" onclick="setNewVolume(this,event,{{ media.id }})"><div id="volumeStatus"></div></div>
    </td>

    <td>
        <a href="{{ media.mediafile }}"><img src="{% static 'img/download.png' %}"></a>
    </td>

    <td>
        <a href="{% url 'youtubetomp3:remove_media' playlistName=playlist.name media=media.mediafile %}" method="GET">
            Remove
        </a>
    </td>

</tr>

<script type="text/javascript" src="{% static 'js/audio.js' %}"></script>
