<!-- Includes the necessary CSS and Javascript libraries for full customization -->
{% load staticfiles %}
<tr id="{{ media.id }}">

    <audio id="song{{ media.id }}" ontimeupdate="updateTime()" preload="metadata">
        <source src="{% url 'youtubetomp3:audio' playlistName=playlist.name media=media.link_to_load mediatype='audio/mpeg'  %}" type="audio/mpeg"/>
        <source src="{% url 'youtubetomp3:audio' playlistName=playlist.name media=media.link_to_play mediatype='audio/ogg'  %}" type="audio/ogg"/>
        Your browser does not support the audio tag.
    </audio>

    <!--<input type="hidden" id="songSrc{{ media.id }}" value="{{ media.mediafile }}">-->

    <td style="width: 10%;">
        <div class="audioitem">
            <div class="btn btn-danger" type="button" id="songPlayPause" onclick="playPause('{{ media.id }}')">
                <img id="play-pause" src="{% static 'img/play.png' %}">
                <input type="hidden" id="songPlayImage" value="{% static 'img/play.png' %}">
                <input type="hidden" id="songPauseImage" value="{% static 'img/pause.png' %}">
            </div>
        </div>
    </td>

    <!-- Song Slider tracks progress on song time change, if you click it sets the distance into the song
    based on the percentage of where was clicked -->
    <td style="width: 75%;">
        <div class="audioitem">
            <p id="name{{ media.id }}" class="in-one-line audioname">{{ media.name }}</p>
            <a
                title="Rename audio"
                data-toggle="modal"
                class="in-one-line"
                href="#changeNameModal"
                onclick="changeMediaName('{% url 'youtubetomp3:change_media' playlist.name media.id %}')">

                    <img class="edit-button" src="{% static 'img/edit.png' %}">

            </a>
            <div id="songTime" class="in-one-line audioname time" style="float: right;">0:00</div>
            <div id="songSlider" onclick="setSongPosition(this,event)"><div id="trackProgress"></div></div>
        </div>
    </td>
    <!-- Volume Meter sets the new volume on click.  The Volume Status div is embedded inside so it can grow
    within bounds to simulate percentage feel -->
    <td style="width: 15%;">
        <div class="audioitem">
            <div id="volumeMeter" onclick="setNewVolume(this,event,{{ media.id }})"><div id="volumeStatus"></div></div>
        </div>
    </td>

    <td style="width: 5%;">
        <div class="audioitem">
            <a title="Download" href="{{ media.link_to_load }}"><img src="{% static 'img/download.png' %}"></a>
        </div>
    </td>

    <td style="width: 5%;">
        <div class="audioitem">
            <a title="Delete" type="button" class="close" data-dismiss="modal" aria-hidden="true" href="{% url 'youtubetomp3:remove_media' playlistName=playlist.name media=media.link_to_play %}" method="GET">
                &times;
            </a>
        </div>
    </td>

</tr>