{% extends "youtubetomp3/base.html" %}

{% block title %}Get music from YouTube{% endblock %}

{% block style %}
  {% load staticfiles %}
  <link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block afterContainer %}

  {% if user.is_active %}

    <div class="card">
      <div class="container">
        <h1>Welcome on <img src="{% static 'img/logo-index.png' %}" style="margin-bottom:10px"></h1>
        <p>This is a simple web-site that converts YouTube videos to .mp3 fromat. You can
            create playlist, download content, synchronyze with your Android-phone. For
            using all features, go to playlists page.</p>
        <p><a href="{% url 'youtubetomp3:playlists' %}" class="btn btn-success btn-lg">Playlists &raquo;</a></p>
      </div>
    </div>  

    <div class="card">

      <div class="container">

        <form class="form-youtube" role="form" method="post" action="{% url 'youtubetomp3:poll_state' %}" id="upload-file-form" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="input-group">
            <input type="hidden" id="progress-id" name="progress-id" value=""/>
            <input type="text" placeholder="Put YouTube video link here" class="form-control" name="youtubeLink" id="youtubeLink" autofocus>
            <span class="input-group-btn">
              <button class="btn btn-danger" type="submit" id="button-submit">Go!</button>
            </span>

          </div><!-- /input-group -->
          
          <div id="progress-container">

            <div class="progress">
              <div class="progress-bar progress-bar-success" id="upload-progress-bar" name="upload-progress-bar" role="progressbar" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent }}%">
                <span class="sr-only">{{ percent }}% Complete (success)</span>
              </div>
            </div>


          </div>
          
          <a href="#" id="get_playlists" rel="popover" data-original-title="Choose playlist" data-placement="right">Choose playlist</a>

        </form>

      </div>
      
    </div>

    <div id="popover_content_wrapper" style="display: none">

      {% for playlist in user.playlist_set.all %}

        <div style="background-color: #{{ playlist.color }}">
          <p>{{ playlist.name }}</p>
        </div> 

      {% endfor %}

    </div>

  {% else %}

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="data:image/png;base64," data-src="holder.js/900x500/auto/#777:#555/text:First slide" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-large btn-primary" href="#">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="data:image/png;base64," 
            data-src="holder.js/900x500/auto/#666:#444/text:Second slide" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-large btn-primary" href="#">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="data:image/png;base64," data-src="holder.js/900x500/auto/#555:#333/text:Third slide" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel"
        data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->

  {% endif %}
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/index.js' %}"></script>
  <script src="{% static 'js/jquery.form.min.js' %}"></script>
  <script src="{% static 'js/ajax_loader.js' %}"></script>
  <script src="{% static 'js/holder.js' %}"></script>
{% endblock %}


