{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Yes">
    <meta name="author" content="Me">
    <link rel="shortcut icon" href="{% static 'ico/favicon.png' %}">

    <title>Tutu</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/index.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">YouTube to mp3</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">

            {% if user.is_active %}

              <li>
                Hello <b>
                        <a href="{% url 'profile_detail' %}?profile={{user.id}}" method="get">
                          {{ user.username }}
                        </a>
                      </b>! <a href="{% url 'auth_logout' %}">logout</a>
              </li>
            
            {% else %}

              <li><a href="{% url 'auth_login' %}">Log in</a></li>
              <li><a href="{% url 'registration_register' %}">Sign up</a></li>

            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div id="floater"></div>

    <form class="form-youtube" role="form" method="post" action="{% url 'youtubetomp3:poll_state' %}" id="upload-file-form" enctype="multipart/form-data">
       {% csrf_token %}
      <div class="input-group">
        <input type="hidden" id="progress-id" name="progress-id" value=""/>
        <input type="text" placeholder="Put YouTube video link here" class="form-control" name="youtubeLink" id="youtubeLink" autofocus>
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit" id="button-submit">Go!</button>
        </span>

      </div><!-- /input-group -->
      <span class="help-block">Example: https://www.youtube.com/watch?v=INmtQXUXez8</span>

      <div id="progress-container">

        <div class="progress">
          <div class="progress-bar progress-bar-success" id="upload-progress-bar" name="upload-progress-bar" role="progressbar" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent }}%">
            <span class="sr-only">{{ percent }}% Complete (success)</span>
          </div>
        </div>

      </div>

    </form>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.form.min.js' %}"></script>
    <script src="{% static 'js/ajax_loader.js' %}"></script>
    
  </body>
</html>
