{% extends "youtubetomp3/base.html" %}

{% block title %}{{ playlist.name }}{% endblock %}

{% block style %}
  {% load staticfiles %}
  <link href="{% static 'css/playlist.css' %}" rel="stylesheet">
{% endblock %}

{% block sidebar %}
  <ul class="nav navbar-nav">
    <li><a href="{% url 'youtubetomp3:playlists' %}">To playlists</a></li>
  </ul>
{% endblock %}

{% block content %}
  {% csrf_token %}

    <table border="0">
        <th>{{ playlist.name }}</th>

        {% for media in media_set.all %}

            <tr>
                <td>
                    <a href="{{ media.mediafile }}">{{ media.mediafile }}</a>
                </td>

                <td>
                    <a href="{% url 'youtubetomp3:remove_media' playlistName=playlist.name media=media.mediafile %}" method="GET">Remove</a>
                </td>
            </tr> 

        {% endfor %}
    </table>

    <audio controls="controls">
      {# <source src="track.ogg" type="audio/ogg" /> #}
      <source src="../../media/track.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
    </audio>
{% endblock %}