{% extends "youtubetomp3/base.html" %}

{% block title %}{{ playlist.name }}{% endblock %}

{% block style %}
  {% load staticfiles %}
  <link href="{% static 'css/playlist.css' %}" rel="stylesheet">
{% endblock %}

{% block sidebar %}
  <ul class="nav navbar-nav">
    <li><a href="{% url 'youtubetomp3:playlists' %}">To playlists</a></li>
  </ul>
{% endblock %}

{% block content %}
  {% csrf_token %}

  <div class="card">
    <div class="container">

      <h1>{{ playlist.name }}</h1>
      <a class="header-right-button" rel="popover" data-original-title="Pick color" data-placement="left">
        {% with "img/"|add:playlist.color|add:".png" as image %}
        <img src="{% static image %}">
        {% endwith %}
      </a>

      <hr>

      <table class="songs" border="0">

        {% for media in media_set.all %}
        
          {% include "youtubetomp3/audio.html" %}

        {% endfor %}

      </table>


    </div>
  </div>

  <div id="popover_content_wrapper" style="display: none">
    <table border="0" style="width: 100%">

      <tr>
          <td>
              <a href="{% url 'youtubetomp3:change_playlist' playlist.name playlist.name 'fff' %}">
                <div class="color-square" style="background-color: #fff"></div>
              </a>
          </td>
          <td>
            <a href="{% url 'youtubetomp3:change_playlist' playlist.name playlist.name 'ffcccc' %}">
              <div class="color-square" style="background-color: #ffcccc"></div>
            </a>
          </td>
          <td>
            <a href="{% url 'youtubetomp3:change_playlist' playlist.name playlist.name 'cfecfa' %}">
              <div class="color-square" style="background-color: #cfecfa"></div>
            </a>
          </td>
      </tr>

      <tr>
          <td>
            <a href="{% url 'youtubetomp3:change_playlist' playlist.name playlist.name 'ebfde1' %}">
              <div class="color-square" style="background-color: #ebfde1"></div>
            </a>
          </td>
          <td>
            <a href="{% url 'youtubetomp3:change_playlist' playlist.name playlist.name 'f5fec5' %}">
              <div class="color-square" style="background-color: #f5fec5"></div>
            </a>
          </td>
          <td>
            <a href="{% url 'youtubetomp3:change_playlist' playlist.name playlist.name '7b7b7b' %}">
              <div class="color-square" style="background-color: #7b7b7b"></div>
            </a>
          </td>
      </tr>

    </table>
  </div>
{% endblock %}

{% block javascript %}

  <script type='text/javascript'>
     $(document).ready(function () {
       if ($("[rel=popover]").length) {
        $("[rel=popover]").popover({
         html : true, 
          content: function() {
            return $('#popover_content_wrapper').html();
          }
        });
      }
    });
  </script>

{% endblock %}