{% extends "youtubetomp3/base.html" %}

{% block title %}My playlists{% endblock %}

{% block style %}
  {% load staticfiles %}
  <link href="{% static 'css/playlists.css' %}" rel="stylesheet">
{% endblock %}

{% block sidebar %}
  <ul class="nav navbar-nav">
    <li><a href="{% url 'youtubetomp3:index' %}">Home</a></li>
    <li class="active"><a href="{% url 'youtubetomp3:playlists' %}">Playlists</a></li>
  </ul>
{% endblock %}

{% block content %}

  {% if user.username != '' %}  
    <div class="card">
      <div class="container">  
        <h1>My Playlists</h1>
         <a class="header-right-button" data-toggle="modal" href="#myModal" type="button">
          <img src="{% static 'img/new-playlist.png' %}">
         </a>
        <hr>

        <div class="row">
          {% for playlist in user.playlist_set.all %}

            <div class="col-xs-6 col-sm-3 col-lg-3">
              <div class="img-thumbnail" style="background-color: #{{ playlist.color }}">
                <a href="{% url 'youtubetomp3:playlist' playlist.name %}" method="GET">
                  <img class="thumb" src="{% static 'img/audio-playlist-thumb.png' %}">
                </a>
                <h3>{{ playlist.name }}</h3>
                <a type="button" href="{% url 'youtubetomp3:remove_playlist' playlist.name %}" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
              </div>
            </div>

          {% endfor %}
        </div>
      </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Create playlist</h4>
        </div>
        <form role="form" method="post" action="{% url 'youtubetomp3:new_playlist' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-body">
                <div class="input-group">
                  <input type="text" placeholder="Enter new name here" class="form-control" name="playlist" id="playlist" autofocus>
                </div><!-- /input-group -->
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-success">Create</button>
            </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    {% else %}
        <p>Please login or sign up</p>
    {% endif %}
    
{% endblock %}

