{% extends "youtubetomp3/base.html" %}

{% block title %}{{ playlist.name }}{% endblock %}

{% block style %}
  {% load staticfiles %}
  <link href="{% static 'css/playlist.css' %}" rel="stylesheet">

  {% if playlist.is_audio %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/audio.css' %}"/>
  {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/video.css' %}"/>
  {% endif %}
  
{% endblock %}

{% block sidebar %}
  <ul class="nav navbar-nav">
    <li><a href="{% url 'youtubetomp3:playlists' %}">To playlists</a></li>
  </ul>
{% endblock %}

{% block content %}
  {% csrf_token %}

  <div class="card">
    <div class="container">

      <h1 class="in-one-line" id="playlistName">{{ playlist.name }}</h1>

      <a 
        title="Rename playlist"
        class="in-one-line"
        data-toggle="modal"
        href="#changeNameModal"
        onclick="changeName('{% url 'youtubetomp3:change_playlist' playlist.name playlist.name playlist.color %}')">

        <img class="edit-button" src="{% static 'img/edit.png' %}">

      </a>

      <a class="in-one-line header-right-button" rel="popover" data-original-title="Pick color" data-placement="left" href="#">

        {% with "img/"|add:playlist.color|add:".png" as image %}
        <img id="color" src="{% static image %}">
        {% endwith %}

      </a>

      <hr>

      <table class="songs" border="0">

        {% for media in media_set %}

          {% if playlist.is_audio %}
        
            {% include "youtubetomp3/audio.html" %}

          {% else %}

            {% include "youtubetomp3/video.html" %}

          {% endif %}

        {% endfor %}

      </table>


    </div>
  </div>

  <div id="popover_content_wrapper" style="display: none">
    <table border="0" style="width: 100%">

      <tr>
          <td>
              <a onclick="changeColor('{% url 'youtubetomp3:change_playlist' playlist.name playlist.name 'fff' %}')"
                 href="#">
                <div class="color-square" style="background-color: #fff"></div>
              </a>
          </td>
          <td>
            <a onclick="changeColor('{% url 'youtubetomp3:change_playlist' playlist.name playlist.name 'ffcccc' %}')"
                 href="#">
              <div class="color-square" style="background-color: #ffcccc"></div>
            </a>
          </td>
          <td>
            <a onclick="changeColor('{% url 'youtubetomp3:change_playlist' playlist.name playlist.name 'cfecfa' %}')"
                 href="#">
              <div class="color-square" style="background-color: #cfecfa"></div>
            </a>
          </td>
      </tr>

      <tr>
          <td>
            <a onclick="changeColor('{% url 'youtubetomp3:change_playlist' playlist.name playlist.name 'ebfde1' %}')"
                 href="#">
              <div class="color-square" style="background-color: #ebfde1"></div>
            </a>
          </td>
          <td>
            <a onclick="changeColor('{% url 'youtubetomp3:change_playlist' playlist.name playlist.name 'f5fec5' %}')"
                 href="#">
              <div class="color-square" style="background-color: #f5fec5"></div>
            </a>
          </td>
          <td>
            <a onclick="changeColor('{% url 'youtubetomp3:change_playlist' playlist.name playlist.name '7b7b7b' %}')"
                 href="#">
              <div class="color-square" style="background-color: #7b7b7b"></div>
            </a>
          </td>
      </tr>

    </table>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="changeNameModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Change name</h4>
        </div>
        
        <form id="changeNameForm" role="form" method="post" 
              action="{% url 'youtubetomp3:poll_state' %}" 
              enctype="multipart/form-data">

            {% csrf_token %}
            <div class="modal-body">
                <div class="input-group">
                  <input type="text" placeholder="Enter new name here" class="form-control" name="playlist" id="playlist" autofocus>
                </div><!-- /input-group -->
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-success">Change</button>
            </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

{% endblock %}

{% block javascript %}

  <script src="{% static 'js/jquery.form.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/playlist.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/audio.js' %}"></script>

{% endblock %}