{% extends "youtubetomp3/base.html" %}

{% block title %}Get music from YouTube{% endblock %}

{% block style %}
  {% load staticfiles %}
  <link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock %}

{% block sidebar %}
  <ul class="nav navbar-nav">
  </ul>
{% endblock %}

{% block content %}
  <form class="form-signin" action="{% url 'auth_login' %}" method="post">

    {% csrf_token %}
    <h2 class="form-signin-heading">Please sign in</h2>

    <input type="text" class="form-control" placeholder="Login" id="id_username" name="username" maxlength="254" autofocus>
    <input type="password" class="form-control" placeholder="Password" id="id_password" name="password">

    <label class="checkbox">
      <input type="checkbox" value="remember-me"> Remember me
    </label>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <input type="hidden" name="next" value="{% url 'profile_detail' %}">

  </form>
{% endblock %}

