<<html>
<head>
	<title>Password reset confirm</title>
</head>
<body>
	<form method="post" action="{% url 'django.contrib.auth.views.password_reset_confirm' %}">
		{% csrf_token %}
		<table>
		<tr>
		    <td>{{ form.username.label_tag }}</td>
		    <td>{{ form.username }}</td>
		</tr>
		<tr>
		    <td>{{ form.password.label_tag }}</td>
		    <td>{{ form.password }}</td>
		</tr>
		</table>

		<input type="submit" value="login" />
		<input type="hidden" name="post_reset_redirect" value="{{ post_reset_redirect }}" />
	</form>
</body>
</html>