{% extends "youtubetomp3/base.html" %}

{% block title %}
    Contacts
{% endblock title %}

{% block content %}

    <div class="card">
        <div class="container">
            <h1>About us</h1>
            <hr>
            
            This is free product, owned by Name<br>
            E-mail: email<br>
            Phone number: number<br>
            <br>
            <br>

            Designed and developed by Name: <a href="https://www.odesk.com/users/~01cdca24afda2af5f7">Sergey Moysa</a><br>
            E-mail: moysa.sergey@gmail.com
        </div>
    </div>
    
{% endblock content %}