{% extends "youtubetomp3/base.html" %}

{% block title %}
    Contacts
{% endblock title %}

{% block content %}

    <div class="card">
        <div class="container">
            <h1>Contacts</h1>
            <hr>

            <h3>Owner</h3>
            Name: name<br>
            E-mail: email<br>
            Phone number: number<br>

            <h3>Developer</h3>
            Name: <a href="https://www.odesk.com/users/~01cdca24afda2af5f7">Sergey Moysa</a><br>
            E-mail: moysa.sergey@gmail.com<br>
        </div>
    </div>
    
{% endblock content %}