/*Play button*/
#songPlay{

}
/*Pause button*/
#songPause{

}
/*Stop button*/
#songStop{

}
/*Play/Pause button*/
#songPlayPause{
    min-width: 70px;
    min-height: 38px;
}
/*Song location slider*/
#songSlider{
    width: 500px;
    height: 7px;
    background-color: #9f9f9f;
    border-radius: 2px;
}
/*Track progress bar*/
#trackProgress{
    width: 0px;
    height: 7px;
    border-radius: 2px;
    background-color: gray;
}
/*Volume Up Button*/
#volumeUp{

}
/*Volume Down Button*/
#volumeDown{

}
/*Volume Meter*/
#volumeMeter{
    border-radius: 2px;
    width: 50px;
    height: 7px;
    background-color: #9f9f9f;
}
/*Volume Location Meter*/
#volumeStatus{
    border-radius: 2px;
    height: 7px;
    background-color: gray;
}
