/*Custom styles*/

.color-square {
    border: 1px solid #bbbbbb;
    margin: 5px 5px;
    min-width: 20px;
    min-height: 20px;
}

.header-right-button img {
    max-height: 20px;
}

.songs{
    margin-right: 5%;
    width:100%;
}