/*Custom styles*/

.color-square {
    border: 1px solid #bbbbbb;
    margin: 5px 5px;
    min-width: 20px;
    min-height: 20px;
}

.header-right-button img {
    max-height: 20px;
}

#right-buttons > .in-one-line {
    margin-right: 10px;
}

.edit-button {
    max-height: 15px;
    margin-left: 5px;
    vertical-align: top;
}

.songs {
    margin-right: 5%;
    width:100%;
}

.modal-dialog {
    max-width: 400px;
}

.input-group {
    margin: auto;
    padding-top: 10px;
    display: block;
}

.popover-content {
  padding: 0px;
}